# Include the README
include *.md

# Include the license file
include AUTHORS
include LICENSE

graft src
graft tests
recursive-include src *.py
recursive-include src *.sdf
include *.yaml
include *.lock
global-exclude *.py[cod]
