{% macro format_timing(entry) -%}
    {%- if entry.min is none and entry.avg is none and entry.max is none -%}
        ()
    {%- else -%}
        ({{ entry.min if entry.min is not none else '' }}:{{ entry.avg if entry.avg is not none else '' }}:{{ entry.max if entry.max is not none else '' }})
    {%- endif -%}
{%- endmacro %}

{% macro format_pin(pin, edge) -%}
    {%- if edge is not none -%}
        ({{ edge }} {{ pin }})
    {%- else -%}
        {{ pin }}
    {%- endif -%}
{%- endmacro %}
