(DELAYFILE
{%- if header %}
{%- if header.sdfversion %}
    (SDFVERSION "{{ header.sdfversion }}")
{%- endif %}
{%- if header.design %}
    (DESIGN "{{ header.design }}")
{%- endif %}
{%- if header.date %}
    (DATE "{{ header.date }}")
{%- endif %}
{%- if header.vendor %}
    (VENDOR "{{ header.vendor }}")
{%- endif %}
{%- if header.program %}
    (PROGRAM "{{ header.program }}")
{%- endif %}
{%- if header.version %}
    (VERSION "{{ header.version }}")
{%- endif %}
{%- if header.divider %}
    (DIVIDER {{ header.divider }})
{%- endif %}
{%- if header.voltage %}
    (VOLTAGE {{ header.voltage }})
{%- endif %}
{%- if header.process %}
    (PROCESS "{{ header.process }}")
{%- endif %}
{%- if header.temperature %}
    (TEMPERATURE {{ header.temperature }})
{%- endif %}
{%- if header.timescale %}
    (TIMESCALE {{ header.timescale }})
{%- else %}
    (TIMESCALE {{ timescale }})
{%- endif %}
{%- else %}
    (SDFVERSION "3.0")
    (TIMESCALE {{ timescale }})
{%- endif %}
{% for cell_name, instances in cells | dictsort(case_sensitive=True) %}
        {%- for instance_name, cell_data in instances | dictsort(case_sensitive=True) %}
            {%- set celltype = cell_name.upper() if uppercase_celltype else cell_name %}
    (CELL
        (CELLTYPE "{{ celltype }}")
        (INSTANCE {{ instance_name }})
        {%- if cell_data.delay_entries %}{{ cell_data.delay_entries }}{% endif -%}
        {%- if cell_data.timingcheck_entries %}{{ cell_data.timingcheck_entries }}{% endif -%}
        {%- if cell_data.timingenv_entries %}{{ cell_data.timingenv_entries }}{% endif %}
    )
        {%- endfor %}
    {%- endfor %}
)
